<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Grep SecurityManager Views"
            id="GrepPluginProject">
      </category>
      <view
            name="Grep SecurityManager Analysis View"
            icon="icons/sample.gif"
            category="GrepPluginProject"
            class="greppluginproject.views.GrepView"
            id="greppluginproject.views.GrepView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="greppluginproject.views.GrepView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>

</plugin>
